/********** Template CSS **********/
:root {
    --primary: #1363C6;
    --secondary: #15ACE1;
    --light: #F4F7FE;
    --dark: #14183E;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar {
    padding: 11px 0 !important;
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/* Button styling */
.btn-outline-light, .btn-light {
    border-radius: 20px; /* Rounded edges */
    margin-left: 10px;   /* Spacing between buttons */
}

.btn-outline-light:hover, .btn-light:hover {
    background-color: #ffffff;
    color: #304079;
    border-color: #ffffff;
}

/* Login & Singup button styling */
.btn-dark, .btn-outline-dark {
    border-radius: 20px; /* Rounded edges */
    margin-left: 300px;   /* Spacing between buttons */
    margin-right: -295px;
    background-color: #ffffff; /* Set the background color */
    color: #525151; /* Set the text color */
    border-color: #304079; /* Set the border color */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-dark:hover, .btn-outline-dark:hover {
    background-color: #ffffff;
    color: #304079;
    border-color: #ffffff;
}





/*** Hero Header ***/
.hero-header {
    margin-top: -75px;
    background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** About ***/
.about-img {
    position: relative;
    overflow: hidden;
}

.about-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*** Feature ***/
.feature {
 background-size: cover;
}

.img-mrg{
    margin-bottom: 80px;
    margin-left: 50px;
}


/*** Team ***/
.team-item {
    transition: .5s;
    border: 1px solid transparent;
    transition: .5s;
}

.team-item:hover {

    border-color: var(--primary);
}


/*** Scan ***/
.body-scan {
    background-color: #15346b !important; /* Background color from the image */
    color: #000000; /* Black text color */
    font-family: Arial, sans-serif; /* Font choice */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.navbar-scan {
    padding: 0.5rem; /* Padding around navbar */
    display: flex; /* Flex container for navbar items */
    justify-content: center; /* Center navbar items horizontally */
    width: 100%; /* Full width */
    border-bottom: 4px solid white; /* White border at the bottom */
}

.nav-list-scan {
    list-style: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Flex container for navbar items */
    width: 100%; /* Full width */
    justify-content: center; /* Center items horizontally */
}

.nav-item-scan {
    display: flex; /* Flex container for navbar items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin: 0 1rem; /* Margin around navbar items */
    padding: 0.5rem 2rem; /* Padding inside navbar items */
    background-color: #ffffff; /* White background color */
    border-radius: 50px; /* Rounded corners */
    height: auto; /* Adjust height automatically */
    width: inherit; /* Inherit width */
}

.nav-link-scan {
    text-decoration: none; /* Remove underline from links */
    color: #362893; /* Dark purple text color */
    font-weight: bold; /* Bold font weight */
    font-size: 1.2rem; /* Font size */
}

.nav-item-scan.active .nav-link-scan {
    background-color: #ffffff; /* White background color */
    color: #362893; /* Dark purple text color */
}

.content-scan {
    width: 70%; /* 70% width */
    border-radius: 25px; /* Rounded corners */
    padding: 2rem; /* Padding inside content */
    margin-top: 2rem; /* Top margin */
    margin-left: 12rem;
    text-align: center; /* Center text */
}

.email-content-scan, .url-input-scan {
    border-radius: 25px; /* Rounded corners */
    border: 2px solid #362893; /* Dark purple border */
    padding: 15px; /* Padding inside */
    margin-top: 15px; /* Top margin */
    width: 100%; /* Full width */
}

.input-icon-scan {
    width: 100px; /* Icon width */
    height: auto; /* Adjust height automatically */
    margin-bottom: 15px; /* Bottom margin */
    margin-top: -55px; /* Top margin (negative to overlap) */
}

.btn-scan {
    background-color: #f0e68c; /* Light yellow background color */
    color: #000000; /* Black text color */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside button */
    font-size: 1.2rem; /* Font size */
    font-weight: bold; /* Bold font weight */
}

.btn-scan:hover {
    background-color: #d1c47c; /* Light yellow hover background color */
    color: #000000; /* Black text color */
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}